body {
    margin: 0px;
    width: 100%;
}

.slidecontainer {
    width: 100%;
    /* Width of the outside container */
}

/* The slider itself */

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

/* Mouse-over effects */

.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

#header-container {
    display: flex;
    justify-content: center;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
    width: 100%;
    border-bottom: 8px solid #ffc107;
}

#title {
    color: #ffffff;
    background-color: #0054a6;
    flex-grow: 2;
    padding: 1em;
}

.bold {
    font-weight: bolder;
}

#portfolio-link {
    color: #0054a6;
    background-color: #ffffff;
    font-size: 2em;
    flex-grow: 1;
    padding: 1em;
    display: flex;
    justify-content: flex-end;
    text-align: right;
}

#portfolio-link:hover {
    text-decoration: none;
}

